doctype html
html(lang="en")
  head
    title= Express
  body
    h2 username : #{data.username}
    h2 password :  #{data.password}
    h2 gender : #{data.gender}
    h2 agree with :  #{data.agreement}
    
   
    


    
          
